*{
    margin: 0;
    padding:0;

}



body{
  
  width:80vw;
  height: 100vh;
  
  margin: 0 auto;
  font-family: Mulish;

}

header{
    margin-top: 25px ;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-logo{
    display: flex;
    gap:10px;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 800;
    min-width: 300px;
    color: #131318;
}

.nav-logo>h3>span{
    color: #FF5400;
}

.nav-items>ul{
    
    display: flex;
    gap:44px;
    align-items: center;
    list-style: none;
    
}
a{  
    color: #424247;
    text-decoration: none;
    font-size: 1.2rem;
    
}

a:hover{
    color: #FF5400;
}

section{margin-top: 3%;}
.banner{
    height: 70vh;
    text-align: center;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    gap:2.5rem;
}

.banner-form{
    padding:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    width:60%;
  
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);


}
.banner>h1{
    font-size: 4rem;
    font-weight: 800;
    color: #FFF;
}
.banner>p{
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
}
.banner-form>input,select{
    width: 25%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0;
    outline: 0;
}

.banner-form>input[placeholder]{
    text-align: center;
}
.banner-form>input[type="submit"]{
    background-color: #FF5400;
}

.banner-form>input[type="submit"],[placeholder]{
    color: #FFF;
}


